<?xml version="1.0"?>
<launch>

  <node pkg="camera_apps" type="mask_rcnn_node" name="mask_rcnn_node" output="screen">
    <param name="model_path" value="$(find camera_apps)/model/mask_rcnn" />
    <rosparam file="$(find camera_apps)/config/param/mask_rcnn.yaml" command="load"/>
  </node>
</launch>
